<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/addTasks.js"></script>
</head>

<body>
    <h1>{{title}}</h1>
    <button id="backBtn">Back</button>
    <br>
    <br>
    <form id="taskForm">
        <label>Task</label>
        <input type="text">
        <br>
        <br>
    <label>Status</label>
    <select>
        <option>complete</option>
        <option>Incomplete</option>
    </select>
    <br>
    <br>
    <label>Owner</label>
    <select>
        <option>Arun</option>
        <option>Kamal</option>
        <option>Kumar</option>
    </select>
    <br>
    <br>
    <input type="Submit" value="save">
    <input type="reset" value="Reset">
    </form>
</body>
</html>