<html>

<head>
    <title>Users</title>
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/user.js"></script>
    <link rel="stylesheet" href="/css/users.css">
</head>

<body>
    <h1>Users</h1>
    <a href="/users">Users</a>
    <a href="/tasks">Tasks</a>
    <br>
    <br>
    <div id="div">
        <button id="addBtn">Add</button>
        <button id="editBtn">Edit</button>
        <button>Delete</button>
    </div>
    <br>
    <br>
    <table id="users">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>Arun</td>
                <td>arun@gmail.com</td>
                <td>242619</td>
            </tr>

            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>kamal</td>
                <td>kamal@gmail.com</td>
                <td>242623</td>
            </tr>

            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>kumar</td>
                <td>kumar@gmail.com</td>
                <td>242526</td>
            </tr>
        </tbody>
    </table>
</body>

</html>